USE [Persis]
GO
/****** Object:  StoredProcedure [dbo].[pb_cust_View_Status_pekerja]    Script Date: 10/28/2009 09:15:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Imam H
-- Create date: 20091027
-- Description:	Prosedur untuk view status pekerja yang akan habis kontrak
-- =============================================
CREATE procedure [dbo].[pb_cust_View_Status_pekerja] as
DECLARE @D Varchar(10)
DECLARE @TO Varchar(1000)
DECLARE @CC Varchar(1000)
DECLARE @SUBJECT Varchar(1000)
DECLARE @BODY AS Varchar(8000)
declare @test varchar (1000)
SET @D = ''

DECLARE DATA0 CURSOR FOR SELECT DEPT FROM Persis.dbo.tbl_Dept

OPEN DATA0 
FETCH NEXT FROM DATA0 INTO @D
WHILE @@FETCH_STATUS = 0
BEGIN

SET @BODY=''
SET @TO =''
SET @CC =''
SET @SUBJECT = '' 
set @body = ''
declare @dept as varchar (10)
declare @nrp as varchar (10)
declare @nama as varchar (50)
declare @golongan as varchar (10)
declare @jabatan as varchar (50)
declare @statusHO as varchar (10)
declare @statusKerja as varchar (10)
declare @Posisi as varchar (50)
declare @tglMasuk as datetime
declare @tglAkhir as datetime
DECLARE @T AS BIT
DECLARE @N AS INT
SET @N = 0
set @T= 0

DECLARE list_Karyawan CURSOR FOR SELECT     Nrp, Nama, Golongan, Jabatan, StatusPenerimaan, StatusPekerjaan,TglMasukPama As 'Awal',DATEADD(day, - 1, DATEADD(year, 1, TglMasukPama)) AS Akhir, Departemen
							FROM         tblKaryawan AS K
							WHERE     (DATEADD(day, - 1, DATEADD(year, 1, TglMasukPama)) 
										BETWEEN DATEADD(d, - 30, GETDATE()) AND DATEADD(d, 37, GETDATE()))
										and Departemen=@D AND StatusPekerjaan in ('CT','TR')
---

---
OPEN list_Karyawan
FETCH NEXT FROM list_Karyawan INTO @nrp,@nama,@golongan,@jabatan,@statusHO,@statusKerja,@tglMasuk,@tglAkhir,@dept
	
	print '1'
	set @body = 'Masa Kerja Karyawan Berikut ini akan Berakhir : '+ 'vbCr' 
	SET @BODY = @BODY + '=============================================================================================================================================='+ 'vbCr'  
	SET @BODY = @BODY + '                                              Link View Karyawan                           ' + 'vbTab' +'  Tgl Masuk  ' + 'vbTab' + ' Akhir Kontrak ' + 'vbTab' +  ' NRP  ' + 'vbTab' + '                 NAMA           ' + 'vbTab' +  ' Gol ' + 'vbTab' + '            Jabtan            ' + ' vbCr'
	SET @BODY = @BODY + '=============================================================================================================================================='+ 'vbCr' + 'vbCr'  
		WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @T = 1
				SET @N = @N + 1
--				print '2'
				
				SET @BODY = @BODY +  'HTTP://PAMA-HJUR/HRGA/ViewKaryawan.aspx?n=' + @nrp + 'vbTab'+ convert(varchar(12),@tglMasuk) + 'vbTab' + convert(varchar(12),@tglAkhir) +'vbTab'+ @nrp + 'vbTab' + @nama + 'vbTabvbTab' +  @golongan + 'vbTab' + @jabatan + ' vbCr' 
				FETCH NEXT FROM list_Karyawan INTO @nrp,@nama,@golongan,@jabatan,@statusHO,@statusKerja,@tglMasuk,@tglAkhir,@dept
			END

	SET @BODY = @BODY + '=============================================================================================================================================='+ 'vbCr' + 'vbCr' 
	
--				print @body

print @body
print '3'
--------------
set @subject=' Masa Kerja Karyawan ' + @D + ' Akan Berakhir ! '+ '('+ CAST(@N AS VARCHAR) + ')'
			-------------to dept---------------
			DECLARE @TO1 Varchar(1000)
			SET @TO =''
			DECLARE LN CURSOR FOR SELECT LotusNotes From Persis.dbo.tblLotusNotes Where Departemen = @DEPT AND (NRP IN (SELECT NRP FROM tblkaryawan WHERE jabatan like '%HEAD%')
											OR NRP IN (SELECT NRP FROM tblndPosisi WHERE ndPosisi like '%HEAD%' And Expired = 0))
			OPEN LN 
			FETCH NEXT FROM LN INTO @TO1
				WHILE @@FETCH_STATUS = 0
					BEGIN 
						SET @TO = @TO + ',' + @TO1
						FETCH NEXT FROM LN INTO @TO1
					END
			DEALLOCATE LN
					
			----------end of to dept----------

			DECLARE @CC1 Varchar(1000)
			SET @CC =''
			DECLARE CCLN CURSOR FOR SELECT LotusNotes From Persis.dbo.tblLotusNotes Where (Departemen = 'HRGA' AND (NRP IN (SELECT NRP FROM tblkaryawan WHERE jabatan like '%HEAD%')
											OR NRP IN (SELECT NRP FROM tblndPosisi WHERE ndPosisi like '%HEAD%' And Expired = 0))) OR Section='HR'
			OPEN CCLN 
			FETCH NEXT FROM CCLN INTO @CC1
				WHILE @@FETCH_STATUS = 0
					BEGIN 
						SET @CC = @CC + ',' + @CC1
						FETCH NEXT FROM CCLN INTO @CC1
					END
			DEALLOCATE CCLN


IF @T = 1
BEGIN
SET @BODY = @BODY + 'vbCr vbCr Note : Pesan ini akan terkirim setiap hari selama belum ada keputusan...'
INSERT INTO persis.dbo.TBLKIRIMLN (fTo,fCc,fSubject,fIsi)
	--values(',Imam Hambali/GEA/TALA/KPP/PAMA','',@SUBJECT,@BODY)
	values(@TO,@CC,@SUBJECT,@BODY)

end
DEALLOCATE list_Karyawan




------------end proses ambil data----------
FETCH NEXT FROM DATA0 INTO @D
END
DEALLOCATE DATA0









