vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Nov 2007 13:16:24 -0000
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|HRGA/Trans/Copy\\ of\\ Transaksi.aspx HRGA/Trans/Transaksi.aspx
vti_cacheddtm:TX|27 Nov 2007 13:16:24 -0000
vti_filesize:IR|29
vti_lineageid:SR|{030633B5-A5EA-4038-8F0A-391D913F1E9D}
