vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Nov 2007 23:59:24 -0000
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|HRGA/Trans/Copy\\ of\\ Transaksi.aspx HRGA/Trans/Transaksi.aspx
vti_cacheddtm:TX|29 Nov 2007 23:59:24 -0000
vti_filesize:IR|4450
vti_cachedlinkinfo:VX|S|latarart.gif S|latarart.gif
vti_cachedsvcrellinks:VX|NSUS|HRGA/Trans/CSS/latarart.gif NSUS|HRGA/Trans/CSS/latarart.gif
vti_lineageid:SR|{3566E3A3-5585-4BE0-B25E-EF4430DE3C52}
